<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 


<bean id="employee" class="corequestion5.Employee">

<property name="age" value="21"/>
<property name="name" value="Aryan"/>


</bean>

<bean id="address" class="corequestion5.Address">

<property name="street" value="lane 1"/>
<property name="city" value="Bhopal"/>
<property name="state" value="MP"></property>
</bean>

</beans>
